* {
    box-sizing: border-box;
  }
  


#game-title{
    font-family: 'Shrikhand', cursive;
    margin: 20px;
    padding: 10px;
    border: 5px solid #ffffff;
    text-align: center;
    font-weight: bold;
    background-color: #861c20;
    color: white;
    width: 450px;
    height: 100px;
}

#instructions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10px;
    border: 5px solid #ffffff;
    text-align: left;
    font-weight: bold;
    background-color: #861c20;
    color: white;
    width: 450px;
    height: auto;
}

#match-score{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    margin: 20px 0 20px 20px;
    padding: 10px;
    border: 5px solid #ffffff;
    text-align: center;
    font-weight: bold;
    background-color: #461b07;
    color: white;
    width: 200px;
    height: 114px;

}

#scoreboard{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 5px solid #ffffff;
    text-align: left;
    background-color: #b05226;
    color: white;
    width: 230px;
    height: 114px;
}

#counter-title{
    font-family: 'Shrikhand', cursive;
    color: white;
    margin: 10px 0 0 10px;
    font-size: 24px;
}

#counter{
        font-family: 'Shrikhand', cursive;
        font-size: 40px;
        margin: 5px 0 20px 5px;
        padding: 10px;
        border: 5px solid #ffffff;
        text-align: left;
        background-color: #b05226;
        color: white;
        width: 200px;
        height: 100px;
        text-align: center;
}

#buttons-div{
    margin-left:5px;
}